<div class="card">
    <div class="card-body">
        <h2>Repositórios</h2>

        <div class="container p-0" *ngIf="repositories">
            <div class="row" *ngFor="let repo of repositories">
                <div class="col">
                    <h3>{{ repo.name }}</h3>
                    <p>{{ repo.description }}</p>
                    <div class="btn btn-primary btn-sm">{{ repo.language }}</div>
                    <p><a href="{{ repo.html_url }}" target="_blank" class="link-primary">{{ repo.html_url }}</a></p>
                </div>
                <hr class="my-4" />
            </div>
        </div>

    </div>
</div>