<div class="container mt-4">
  <h1>Usuário e repositórios</h1>
  <div class="row mt-4">
    <div class="col">

      <div class="card">
        <div class="card-body">
          <h2>Buscar usuário</h2>
          <input type="text" class="form-control" placeholder="Digite o nome do usuário do GitHub">
        </div>
      </div>

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4">
      <app-user-profile></app-user-profile>
    </div>
    <div class="col">
      <app-repository-list></app-repository-list>
    </div>
  </div>
</div>
