<div class="card">
    <div class="card-body">
        <h2>Perfil</h2>

        <div class="container mt-4" *ngIf="user">
            <div class="d-flex flex-row gap-4">
                <div>
                    <img [src]="user.avatar_url" alt="User Avatar" alt="Avatar" class="avatar rounded-circle" width="150px"
                        height="150px">
                </div>
                <div>
                    <h3>{{ user.name }}</h3>
                    <p>{{ user.company }}</p>
                    <p>{{ user.bio }}</p>
                    
                </div>
            </div>
        </div>


    </div>
</div>