<div class="card">
    <div class="card-body">
        <h2>Perfil</h2>
        <div class="container mt-4">
            <div class="d-flex flex-row">
                <div class="col">
                    <img src="https://picsum.photos/200/300" alt="Avatar" class="avatar rounded-circle" width="150px" height="150px">
                </div>
                <div class="col">
                    <h3>Nome</h3>
                    <p>Empresa</p>
                    <p>bio</p>
                </div>
            </div>
        </div>